## Alias section 
alias cp='cp -i'
alias df='df -h'
alias free='free -m'
alias kee='keepassxc-cli'

alias off="shutdown -h now"
alias sus="systemctl suspend"

# SSH
alias sshk='kitten ssh'

alias nvik='kitten edit-in-kitty' #practical over ssh

# OS fetch
alias neo='fastfetch'
alias one='onefetch'
alias lol="lolcat"

alias speed='speedtest-go'

# Crocuda tools
alias p='pipelight'
alias v='virshle'

## net
alias myip="curl ifconfig.co"

function todo;
  set file ~/TODO.md
  set dir $HOME
  cd $dir && touch $file && nvid $file && exit;
end

## Filesystem
abbr -a dufl duf --only local
